@import "tailwindcss";
@import "react-day-picker/style.css";

:root {

  --background:#f5f9fa;
  --white: #f5f9fa;
  --grey-dark: #5d5a58;
  --primary:   #179b8c;
  --secondary: #2bd4c0;
}

@theme inline {
  --color-background: var(--background);
  --color-white: var(--white);
  --color-grey-dark: var(--grey-dark);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-poppins);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}

/* React Day Picker Custom Styles */
.rdp-root {
  --rdp-accent-color: #179b8c;
  --rdp-accent-background-color: #f0f9f8;
  --rdp-today-color: #179b8c;
  --rdp-range_middle-background-color: rgba(23, 155, 140, 0.15);
  --rdp-range_middle-color: #179b8c;
  --rdp-range_start-background: #179b8c;
  --rdp-range_start-color: white;
  --rdp-range_end-background: #179b8c;
  --rdp-range_end-color: white;
}
